.header {

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-container {
        flex-basis: 8%;
    }
    &__logo {
        width: 100%;
        height: auto;
    }


}