@use '../../../utils/globals/variables' as v;

.button {
    transition: box-shadow cubic-bezier(.4, 0, .2, 1) .15s;
    border-radius: 0;
    padding: 0.8em 2.4em;
    font-size: 1rem;
    box-shadow: 0 0 #0000, 7px 7px;
    width: 100%;
    font-weight: bold;

    &:hover {
        box-shadow: 0 0 #0000;
    }

    &:focus {
        outline: 4px solid;
    }

    &--primary {
        background-color: v.$primary;
    }

    &--secondary {
        background-color: v.$secondary;
    }
}